cairocffi==0.8.0
CairoSVG==1.0.22
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
cssselect2==0.2.1
Django==1.11.29
html5lib==1.0.1
idna==2.6
olefile==0.44
pdfrw==0.4
Pillow==4.3.0
pkg-resources==0.0.0
pycparser==2.18
Pyphen==0.9.4
requests==2.18.4
six==1.11.0
sorl-thumbnail==12.3
tinycss2==0.6.1
urllib3==1.22
WeasyPrint==0.41
webencodings==0.5.1
