{% for item in items %}
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6" style="padding: 3px;">
		<div class="panel panel-default item-box" style="margin: 0px; padding: 0px; border-radius: 0px;">
			{% load thumbnail %}
			{% thumbnail item.index_image "250x300" crop="100% center" as im %}
			<a href="{{ item.get_absolute_url }}"><img src="{{ im.url }}" style="width: 100%;"></a>
			{% endthumbnail %}
			<div class="w3-container" style="padding: 10px;">
				<a href="{{ item.get_absolute_url }}"><p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ item.name }}</p></a>
				<div class="row">
					<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding: 0px; cursor: pointer;" data-toggle="collapse" data-target="#dis{{ item.id }}">
						<p style="margin-bottom: 2px;"><strong>&#8377 {{ item.wholesale_price|floatformat }}</strong> <span class="text-success">{{ item.wholesale_dis|floatformat }}% off</span></p>
						<p class="text-muted" style="font-size: 10px;">(Not inclusive of GST)</p>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding: 0px;">
						{% if request.user.is_authenticated %}
						{% with users_wished=item.wished.all %}
						{% if request.user not in users_wished %}
						<i class="fa fa-heart-o pull-right wish-btn" data-id="{{ item.id }}" data-action="wish" style="margin-top: 3px; margin-right: 3px; cursor: pointer;"></i>
						{% else %}
						<i class="fa fa-heart text-danger pull-right wish-btn" data-id="{{ item.id }}" data-action="unwish" style="margin-top: 3px; margin-right: 3px; cursor: pointer;"></i>
						{% endif %}
						{% endwith %}
						{% endif %}
					</div>
				</div>
				<div class="collapse" id="dis{{ item.id }}">
					<span class="text-primary" style="font-size: 10px;">Retail</span>
					<p>&#8377 {{ item.retail_price|floatformat }} <span style="text-decoration: line-through;">&#8377 {{item.price|floatformat}}</span> <span class="text-success">{{ item.retail_dis|floatformat }}% off</span></p>
					<span class="text-primary" style="font-size: 10px;">Wholesale</span>
					<p>&#8377 {{ item.wholesale_price|floatformat }} <span style="text-decoration: line-through;">&#8377 {{item.price|floatformat}}</span> <span class="text-success">{{ item.wholesale_dis|floatformat }}% off</span></p>
				</div>
			</div>
		</div>
	</div>
{% endfor %}