.del-btn {
    padding: 10px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
}

.del-btn:hover {
    color: #fff;
    text-decoration: none;
}

.loader {
    display: table;
    margin: 0 auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.buy-btn {
    padding: 10px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
}

.buy-btn:hover {
	color: #fff;
	text-decoration: none;
}

.modal-btn {
    padding: 10px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
}

.modal-btn:hover {
    color: #fff;
    text-decoration: none;
}

.checkout-btn {
    padding: 10px 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
}

.checkout-btn:hover {
    color: #fff;
    text-decoration: none;
}

.sv-btn {
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2);
    border: none;
    color: #fff;
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold;
}

.sv-btn:hover {
	color: #fff;
	text-decoration: none;
}

.list-group-item:hover {
	background-color: rgb(197, 216, 247);
	opacity: rgba(197, 216, 247, 0.1);
}